.ascending-sort,
.descending-sort {
  .sorting-cell__icon {
    fill: red;
  }
}

.sorting-cell {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
      .sorting-cell__icon {
        fill: gray;
      }
    }
}

.sorting-cell__icon {
    width: 12px;
    height: 12px;
    fill: lightgray;
    transition: all 0.2s ease-in-out;

}
